@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.josefin-sans textos {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #E58F65;
}

h1{
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5em;
    font-weight: 400px;
    font-style: normal;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

label,button,a,textarea,p,input{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav{
    background-color: bisque;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

a{
    color: #000;
    font-size: 25px;
    text-decoration: none;
}

/* .a{
    display: flex;
    justify-content: flex-end;
} */

input{
    font-size: 1.7em;
    width: 35%;
    background-color: bisque;
    color: #000;
    border-bottom: 2px solid #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px;
}

input::placeholder {
    color: #656565;
    font-size: 1em;
}

.banner{
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    max-width: 80%; 
}

.card { 
    width: calc(25% - 30px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 850px) {
    .card {
        width: calc(50% - 20px);
    }
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  
  .carousel-inner {
    display: flex;
    justify-content: center;
  }
  
  .carousel-item {
    flex: 0 0 calc(50% - 10px);
    margin: 0 5px;
  }
  
  .carousel-item img {
    width: 35%; 
    height: auto; 
  }

  .carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .carousel-controls button {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }

  .carousel-control-ant{
    margin-left: 35px;
  }

  .carousel-control-prox{
    margin-right: 38px;
  }
  
footer{
    margin-top: 10%;
    text-align: center;
}