@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* *{
    text-align: center;
}
body{
    background-color: #B3B4A6;
}
button{
    background-color: black;
    border: none;
    color: white;
    border-radius: 0;
    width: 200px;
    height: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
}
input{
    width: 400px;
    height: 45;
    padding: 12px 20px;
    display: block;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #B3B4A6;
}
label{
    display: block;
    text-align: left;
    margin: 15px auto;
    width: 400px;
} */

.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.josefin-sans textos {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
body {
    background-color: #B3B4A6;
    display: flex;
    justify-content: center; /* Centralize horizontalmente */
    align-items: center; /* Centralize verticalmente */
    /* min-height: 100vh; */
}

main {
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    color: #666666;
}

input {
    width: calc(100% - 40px); /* Calcule a largura do input para considerar o padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #B3B4A6;
    font-size: 20px;
}

button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 0;
    margin: 10px;
    margin-bottom: 30px;
    width: 360px;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
}

h1{
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    margin-bottom: 35px;
    margin-top: 2px;
    text-align: center;
}

label,button,a,textarea,p,input,.span-required {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    text-align: center;
    font-size: 22px;
    margin-bottom: 2px;
}

a {
    color:#000;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

.span-required{
    color: #e63636;
    display: none;
    margin-bottom: 15px;
    font-size: 16px;
}